<h1> This is the form html </h1>
<body>
<html>
<div class ="calcualte">
    <h1> Calcualte average marks</h1>

<form action="{{url_for('form')}}" method="post">
    <input type="text" name="maths" placeholder="maths" required="required" />    
    <input type="text" name="science" placeholder="science" required="required" />    
    <input type="text" name="history" placeholder="history" required="required" />   
    
    <button type="submit" class="btn btn-primary btn-block btn-large">Calcualte Button  </Button>

</form>

<br>
The average marks is {{score}}
<br>
</div>
</body>
</html>